<br> <br> <br>

<div class="login-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <h2 class="text-center">Regístrate</h2>
    
    <div class="form-group">
      <%= f.text_field :email, autofocus: true, autocomplete: "username", class:"form-control", placeholder:"Usuario" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Contraseña (Mínimo 6 caracteres)" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmar contraseña" %>
    </div>

    <div class="form-group">
      <%= f.submit "Aceptar", class:"btn btn-success btn-block btn-lg" %>
    </div>
    
    <div class="or-seperator">   
      <br>
      <p> <%= render "devise/shared/links" %> </p>
    </div>
  <% end %>

  
</div>