<%= form_with(model: test_answer, local: true) do |form| %>
  <% if test_answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_answer.errors.count, "error") %> prohibited this test_answer from being saved:</h2>

      <ul>
      <% test_answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :test, class:"form-control", placeholder:"Test:" %>
  </div>

  <div class="form-group">
    <%= form.number_field :question, class:"form-control", placeholder:"Pregunta:" %>
  </div>

  <div class="form-group">
    <%= form.text_field :answer1, class:"form-control", placeholder:"Respuesta 1:" %>
  </div>

  <div class="form-group">
    <%= form.text_field :answer2, class:"form-control", placeholder:"Respuesta 2" %>
  </div>

  <div class="form-group">
    <%= form.submit "Aceptar", class:"btn btn-success my-2 my-sm-0" %>
    <%= link_to 'Back', dominos_path, class:"btn btn-success my-2 my-sm-0" %>
  </div>
<% end %>
