<br>

<p id="notice"><%= notice %></p>

<h1 class="text-center">Test Answers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Test</th>
      <th>Question</th>
      <th>Answer1</th>
      <th>Answer2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_answers.each do |test_answer| %>
      <tr>
        <td><%= test_answer.test %></td>
        <td><%= test_answer.question %></td>
        <td><%= test_answer.answer1 %></td>
        <td><%= test_answer.answer2 %></td>
        <td><%= link_to 'Show', test_answer %></td>
        <td><%= link_to 'Edit', edit_test_answer_path(test_answer) %></td>
        <td><%= link_to 'Destroy', test_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Answer', new_test_answer_path, class:"btn btn-success my-2 my-sm-0"  %>
