<br>
<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <table class="table">
    <tr>
      <td> <p> <strong> Test: </strong> <%= @test_answer.test %> </p> </td>

      <td> <p> <strong>Question:</strong> <%= @test_answer.question %> </p> </td>

      <td> <p> <strong>Answer1:</strong> <%= @test_answer.answer1 %> </p> </td>

      <td> <p> <strong>Answer2:</strong> <%= @test_answer.answer2 %> </p> </td>
    </tr>
  </table>
  <br>
  
  <%= link_to 'Edit', edit_test_answer_path(@test_answer), class:"btn btn-success my-2 my-sm-0" %> 
  <%= link_to 'Back', test_answers_path, class:"btn btn-success my-2 my-sm-0" %>
</div>
