<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a> <%= link_to (""), root_path%> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a> <%= link_to "Inicio", root_path, class:"nav-link"%> </a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
            <a> <%= link_to "Pruebas", welcome_test_path, class:"nav-link" %> </a>
        </li>
        <li class="nav-item">
            <a> <%= link_to "H.E.M.A", root_path, class:"nav-link" %> </a>
        </li>
        <li class="nav-item">
            <a> <%= link_to "Domino", welcome_domino_path, class:"nav-link" %>   </a>
        </li>
        <li class="nav-item">
            <a> <%= link_to "Agregar Test", welcome_test_path, class:"nav-link" %>   </a>
        </li>
        <li class="nav-item">
            <a> <%= link_to "Resultados", root_path, class:"nav-link" %>   </a>
        </li>
        <li class="nav-item">
            <a> <%= link_to "Contactos", welcome_contactos_path, class:"nav-link" %>   </a>
        </li>
        <%= link_to  "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"nav-link" %>
      <% else %>
        <%= link_to  "Iniciar Sesión", new_user_session_path, class:"nav-link" %>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit"> Buscar </button>
    </form>
  </div>
</nav> 