<h2>¿Olvidaste tu contraseña?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :email, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
