<h1 class="text-center"> Trabajo Terminal A020 </h1>
<h2 class="text-center"> DeST </h2>
<div class="row justify-content-around">
  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header"> <h2> Director </h2> </div>
    <div class="card-body">
      <h4 class="card-title"> <%= "Alejandro Sigfrido Cifuentes" %> </h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet, idunt ut lom dolore eu pariatur. Excepteur sint, sunt in cborum. 
      </p>
    </div>
  </div>

  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header"> <h2> Director </h2> </div>
    <div class="card-body">
      <h4 class="card-title"> <%= "Emilio" %> </h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet, idunt ut lom dolore eu pariatur. Excepteur sint, sunt in cborum. 
      </p>
    </div>
  </div>

  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header"> <h2> Agradecimientos </h2> </div>
    <div class="card-body">
      <h4 class="card-title"> <%= "" %> </h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet, idunt ut lom dolore eu pariatur. Excepteur sint, sunt in cborum. 
      </p>
    </div>
  </div>

  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header"> <h2> Desarrollador </h2> </div>
    <div class="card-body">
      <h4 class="card-title"> <%= "Andreé Díaz Camacho" %> </h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet, idunt ut lom dolore eu pariatur. Excepteur sint, sunt in cborum. 
      </p>
    </div>
  </div>

  <div class="card bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header"> <h2> Desarrollador </h2> </div>
    <div class="card-body">
      <h4 class="card-title"> <%= "Daniel Serrano" %> </h4>
      <p class="card-text">
        Lorem ipsum dolor sit amet, idunt ut lom dolore eu pariatur. Excepteur sint, sunt in cborum. 
      </p>
    </div>
  </div>
</div>