<h1> Realizar Test Domino: </h1>
<div class="form-group">
    <%= @dominos.first.instruction %>
</div>
<% @dominos.each do |domino| %>
    <div class="form-group">
        <%= domino.question %>
    </div>
<% end %>