<br>
<div class="jumbotron">
    <h1 class="text-center"> !Bienvenido a DeST¡ </h1>
    <br>
    En esta página encontrarás diferentes test para la obtención de información, la cual, será consultada, 
    analizada y utilizada por psicólogos con la finalidad de reforzar la orientación vocacional dada a los 
    alumnos  de la Escuela Superior de Cómputo (ESCOM).
    Algunos de los test que podrás encontrar son el “Test de Dominó”,  el cual, mide la capacidad mental de 
    resolver problemas de una forma lógica; la prueba HEMA para la valoración general de las actitudes y 
    motivaciones a la hora de enfrentarse al estudio; entre otros.

</div>
