<%= form_with(model: domino, local: true) do |form| %>
  <% if domino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(domino.errors.count, "error") %> prohibited this domino from being saved:</h2>

      <ul>
      <% domino.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :instruction, class:"form-control", placeholder:"Instrucciones:" %>
  </div>

  <div class="form-group">
    <%= form.text_field :question, class:"form-control", placeholder:"Pregunta:" %>
  </div>

  <div class="form-group">
    <%= form.submit "Aceptar", class:"btn btn-success my-2 my-sm-0" %>
    <%= link_to 'Back', dominos_path, class:"btn btn-success my-2 my-sm-0" %>
  </div>

<% end %>
