<br>
<p id="notice"><%= notice %></p>
<h1 class="text-center">Test Domino</h1>

<table class="table">
  <thead>
    <tr>
      <th> # </th>
      <th> Instruction </th>
      <th> Question </th>
      <th> Answer1 </th>
      <th> Answer2 </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @dominos.each do |domino| %>
      <tr>
        <td> <%= domino.id %> </td>
        <td> <%= domino.instruction %> </td>
        <td> <%= domino.question %> </td>
        <td> <%=  %> </td>
        <td> <%=  %> </td>
        <td> <%= link_to 'Show', domino %> </td>
        <td> <%= link_to 'Edit', edit_domino_path(domino) %> </td>
        <td> <%= link_to 'Destroy', domino, method: :delete, data: { confirm: "¿Estás seguro?" } %> </td>
      </tr>
      <% i+=1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domino', new_domino_path, class:"btn btn-success my-2 my-sm-0" %>
