<br>
<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <table class="table">
    <tr>
      <td> <p> <strong> Instruction: </strong> <%= @domino.instruction %> </p> </td>

      <td> <p> <strong> Question: </strong> <%= @domino.question %> </p> </td>
      
    </tr>
  </table>
  <br>
  <%= link_to 'Edit', edit_domino_path(@domino), class:"btn btn-success my-2 my-sm-0" %>
  <%= link_to 'Back', dominos_path, class:"btn btn-success my-2 my-sm-0" %>
</div>
