<br> <br>

<div class="login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="text-center"> Inicia Sesión </h2>

    <div class="form-group">
      <%= f.text_field :email, autofocus: true, autocomplete: "username", class:"form-control", placeholder:"Usuario"  %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Contraseña" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :recuerdame %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit "Aceptar", class:"btn-block btn-lg btn btn-success" %>
    </div>

    <div class="or-seperator">   
      <br>
      <p> <%= render "devise/shared/links" %> </p>
    </div>
  <% end %>
    
</div>
    